body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}
/* HEADINGS */
.main-header{
    font-weight: normal;
    font-size: 50px;
    color: white;
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

.secondary-header, .header-3 {
    font-weight: 300;
    font-size: 42px;
    color: white;
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

/* DESCRIPTIONS & FOOTER */
.description {
    font-size: 21px;
    color: gray;
    font-weight: normal;
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

/* LINKS */
.main-header-link, .header-3-link {
    font-size: 16px;
    color: aquamarine;
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

/* FOOTER */
.footer {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
    font-weight: normal;
    text-align: right;
}